
#current-question {
    border: none;
}

.assistant-container {
    height: 230px;
    min-height: 200px;
}

.assistant-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#prompt-text {
    min-height: 300px;
}

#assistant-status.enabled {
    color: green;
}

#assistant-status.disabled {
    color: red;
}
